/* stylelint-disable scss/operator-no-newline-after */
@import '~/css/helpers';

.container {
  z-index: 50;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0;
}

.header {
  height: tovw(59px, 59px, 'mobile');
  padding: 0 tovw(16px, 16px, 'mobile');
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 40;
  position: relative;
  @screen md {
    height: tovw(64px, 64px, 'tablet');
  }

  @screen lg {
    height: tovw(80px);
    padding: 0 tovw(30px);
  }
}

.left {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-basis: 30%;

  & > a {
    display: contents;
  }

  &.never-triggered {
    .light {
      animation: none;
    }

    .logo {
      opacity: 0;
      animation: none;
    }
  }

  &.show-logo {
    .logo {
      :global {
        animation: fade-in var(--duration-normal) ease-out forwards;
      }
    }

    .light {
      :global {
        animation: fade-out var(--duration-normal) ease-out forwards;
      }
    }
  }

  &.fix-logo {
    .logo {
      transform: translateY(0);
      opacity: 1;
    }

    .light {
      opacity: 0;
    }
  }

  .logo {
    position: absolute;
    font-family: var(--font-basement-grotesque);

    svg {
      width: tovw(120px, 120px, 'mobile');

      @screen md {
        width: tovw(130px, 130px, 'tablet');
      }

      @screen lg {
        width: tovw(186px);
      }
    }

    :global {
      animation: fade-out var(--duration-normal) ease-out forwards;
    }
  }
}

.light {
  line-height: calc(19 / 16);
  font-weight: 500;
  font-size: tovw(12px, 12px, 'mobile');
  text-transform: uppercase;
  position: absolute;

  :global {
    animation: fade-in var(--duration-normal) ease-out forwards;
  }

  @screen md {
    font-size: tovw(14px, 14px, 'tablet');
  }

  @screen lg {
    font-size: tovw(16px);
  }
}

.circa {
  display: none;

  @screen lg {
    flex-grow: 0;
    font-size: tovw(16px);
    text-transform: uppercase;
    line-height: calc(19 / 16);
    font-weight: 500;
    display: flex;
    align-items: center;

    svg {
      width: tovw(92px);
      height: tovw(50px);
    }
  }
}

.navButtonContainer {
  display: flex;
  align-items: center;
  transition: color var(--normal-transition);

  &:hover {
    color: theme('colors.orange');
  }

  span:first-child {
    display: flex;
    align-items: center;
  }
}

.nav {
  flex-grow: 1;
  flex-basis: 30%;
  text-transform: uppercase;
  line-height: calc(19 / 16);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: tovw(16px, 16px, 'mobile');

  @screen md {
    font-size: tovw(16px, 16px, 'tablet');
  }

  @screen lg {
    font-size: tovw(16px);
  }

  svg {
    margin-left: tovw(8px, 8px, 'mobile');

    @screen md {
      margin-left: tovw(8px, 8px, 'desktop');
    }
  }
}

.navLabelContainer {
  position: relative;
  overflow: hidden;
  margin-top: tovw(4px, 4px, 'mobile');

  @screen md {
    margin-top: tovw(4px, 4px, 'tablet');
  }

  @screen lg {
    margin-top: tovw(4px, 4px, 'desktop');
  }

  p {
    line-height: 1;
    display: flex;
    flex-direction: column;

    span.navLabelPlaceholder {
      visibility: hidden;
    }

    span:not(.navLabelPlaceholder) {
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
    }

    span:nth-child(1) {
      transform: translateY(0%);
    }

    span:nth-child(2) {
      transform: translateY(200%);
    }
  }
}

.burguer {
  width: tovw(29px, 29px, 'mobile');
  height: tovw(29px, 29px, 'mobile');

  @screen md {
    width: tovw(32px, 32px, 'desktop');
    height: tovw(32px, 32px, 'desktop');
  }

  @screen lg {
    width: tovw(28px, 28px, 'desktop');
    height: tovw(28px, 28px, 'desktop');
  }
}

.menu {
  position: absolute;
  z-index: 11;
  top: 0;
  overflow: hidden;
  width: 100%;
}

.menu__content {
  --height-multiplier: 0;

  height: calc(
    tovw(59px, 59px, 'mobile') +
      max(
        0px,
        (
          (
              (var(--vh) * 100) - tovw(59px, 59px, 'mobile') -
                var(--annoucement-height)
            ) * var(--height-multiplier)
        )
      )
  );
  background-color: rgb(0 0 0 / 0.5);
  backdrop-filter: blur(12px);
  width: 100%;
  border-bottom: solid theme('colors.white');
  border-bottom-width: tovw(1px, 1px);

  @screen md {
    height: calc(
      tovw(64px, 64px, 'tablet') +
        max(
          0px,
          (
            (
                (var(--vh) * 100) - tovw(64px, 64px, 'tablet') -
                  var(--annoucement-height)
              ) * var(--height-multiplier)
          )
        )
    );
  }

  @screen lg {
    height: calc(
      tovw(80px) +
        max(
          0px,
          (
            ((var(--vh) * 100) - tovw(80px) - var(--annoucement-height)) *
              var(--height-multiplier)
          )
        )
    );
  }
}

.menu_links_container {
  position: absolute;
  height: calc(100% - tovw(236px, 236px, 'mobile'));
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  padding: tovw(59px, 59px, 'mobile') tovw(16px, 16px, 'mobile') 0;
  @screen md {
    height: calc(100% - tovw(360px));
  }
  @screen lg {
    height: calc(100% - tovw(90px));
    padding: tovw(80px) tovw(30px) 0;
    justify-content: space-evenly;
  }

  .link__container {
    overflow: hidden;
  }

  a,
  p {
    opacity: 0;
    font-family: theme('fontFamily.basement-grotesque-display');
    font-size: tovw(24px, 28px, 'mobile');
    font-weight: 900;
    line-height: tovw(32px, 32px, 'mobile');
    display: flex;
    max-width: max-content;
    margin-bottom: tovw(24px, 24px, 'mobile');
    text-transform: uppercase;
    transition: color var(--normal-transition);
    white-space: nowrap;
    align-items: center;

    @screen md {
      font-size: tovw(120px);
    }

    @screen lg {
      font-size: tovw(120px);
      line-height: tovw(100px);
      margin-bottom: 0;
      align-items: flex-start;
    }

    span {
      position: relative;
      width: tovw(88px, 20px, 'desktop-large');
      height: tovw(88px, 20px, 'desktop-large');

      .menu__link-item--image {
        width: 100% !important;
        height: 100% !important;
        transition: opacity var(--normal-transition);
        opacity: 0;
      }
    }

    &:hover {
      color: theme('colors.orange');

      span img {
        opacity: 1;
        color: theme('colors.orange');
      }
    }

    &.active {
      color: theme('colors.orange');

      span img {
        color: theme('colors.orange');
      }
    }

    &.disabled {
      color: theme('colors.gray');

      span {
        letter-spacing: 0;
        user-select: none;
        margin-left: 1em;
        color: theme('colors.white');
        font-size: max(8px, toem(14px, 100px));
        background-color: theme('colors.orange');
        border-radius: max(12px, 1em);
        padding: 0 toem(8px, 18px);
        width: auto;
        height: toem(29px, 18px);
        display: flex;
        align-items: center;
        font-weight: black;

        @screen md {
          font-size: max(12px, toem(18px, 100px));
        }
      }
    }
  }
}

.menu__footer {
  height: tovw(236px, 236px, 'mobile');
  transform: translateY(tovw(300px, 300px, 'mobile'));
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  border-top: solid 1px white;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 tovw(16px, 16px, 'mobile');
  font-size: tovw(20px, 16px);
  @screen md {
    height: tovw(360px);
  }
  @screen lg {
    height: tovw(90px);
    transform: translateY(tovw(90px));
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 tovw(30px);
  }

  * {
    text-transform: uppercase;
  }
}

.menu_footer--socials_items {
  padding-top: tovw(10px, 10px, 'mobile');

  @screen md {
    padding-top: tovw(4px, 4px, 'mobile');
  }

  @screen lg {
    display: initial;
    padding-top: unset;
  }

  a {
    width: fit-content;
    margin-top: tovw(6px, 6px, 'mobile');

    @screen md {
      margin-top: tovw(2px, 2px, 'mobile');
    }
  }
}

.menu__footer--touch {
  @screen lg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  @screen md {
    display: flex;
    flex-direction: column;
  }

  p {
    padding-bottom: tovw(10px, 10px, 'mobile');
    @screen md {
      padding-bottom: unset;
      margin-right: 1rem;
    }
  }
}

.menu__footer--rights {
  display: none;
  @screen lg {
    text-align: right;
    text-transform: uppercase;
    display: block;
  }
}

.menu__canvas--container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}
